<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NTYPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F3D38221F5A7F04006A6335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F3D383B1F5A7F04006A6335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F3D38461F5A7F04006A6335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
